SIMULATION_MODE=true
ALLOW_PRODUCTION_WRITE=false
AGENTTEAMS_ENABLED=true
AGENTTEAMS_TEAM_NAME=energymesh-park-control
# Set this after creating an Alibaba Cloud AgentTeams instance.
AGENTTEAMS_INSTANCE_ID=
ENERGYMESH_DB_PATH=./var/energymesh.db
ENERGYMESH_EVIDENCE_DIR=./runs
ENERGYMESH_HOST=0.0.0.0
ENERGYMESH_PORT=8000
